{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formPage') }}
{% endblock %}
{% block title %}Mot de pass oublié{% endblock %}

{% block body %}
    <div class="containerFormForgot">

        <div>
            {{ form_start(form) }}
            <div class="titleBloc">
                <h1>Mot de passe oublié</h1>
                <h4><a href="{{ path('app_register') }}">Nouvel utilisateur ?</a></h4>
            </div>
            {{ form_row(form.email) }}
            <button type="submit">Valider</button>
            <div class="forgotBloc">
                <a href="{{ path('app_login') }}">Je m'en souviens finalement</a>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="goHome">
            <a href="{{ path('app_home') }}">Retour</a>
        </div>
    </div>
{% endblock %}
